.buyCounter {
    display: flex;
    background-color: #EEE;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    max-width:125px;
}

.button {
    background-color: inherit;
    border:none;
    width:32px;
    border-radius: .5rem;
    cursor: pointer;
}

.plusButton {
    composes: button;
    font-size: 1.25rem;
}

.padding {
    padding:.75rem 1rem
}

.count {
    composes: padding;
    margin: 0;
}



