.cartPageEmpty {
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cartPage {
    padding: 1rem 0;
    text-align: left;
}

.cartWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}